.container
	.row
		.col-md-3
			a(href='/')
				img( src='/img/robot.png')
		.col-md-9
			ul.categories
				each cat in pageCategories
					div=cat
					ul
					each page in pageLinksByCategory[cat]
						li
							a(href='#{page.link}') #{page.title}


