extends layout

block content
	.container-fluid
		.row
			section
				ul.findme.pull-right
					li.findme: a(href='https://github.com/jordan52/' alt='GitHub')
						span.fa-stack.fa-lg
							i.fa.fa-square-o.fa-stack-2x
							i.fa.fa-github.fa-stack-1x
					li.findme: a(href='https://bitbucket.com/jordan52/' alt='Bitbucket')
						span.fa-stack.fa-lg
							i.fa.fa-square-o.fa-stack-2x
							i.fa.fa-bitbucket.fa-stack-1x
					li.findme: a(href='https://twitter.com/trickykegstands/' alt='Twitter')
						span.fa-stack.fa-lg
							i.fa.fa-square-o.fa-stack-2x
							i.fa.fa-twitter.fa-stack-1x
			section
				h2  I'm Jordan. I do things.
				p.
					I am a dad, an entrepreneur, a software engineer, and a wanna be writer. I spend most of my time
					teaching, coding, writing music, and pulling myself through projects I probably had no business
					trying in the first place. This is my website.
		.row
			section.index-choices
				.col-md-6
					.text-center
						span.fa-stack.fa-lg
							a(href='about.html')
								i.fa.fa-rocket.fa-stack-2x
					h2.text-center
						a(href='about.html') about
				.col-md-6
					.text-center
						span.fa-stack.fa-lg
							a(href='/blog/')
								i.fa.fa-asterisk.fa-stack-2x
					h2.text-center
						a(href='/blog/') blog
