extends layout

block content
	.container
		section
			h2  I'm Jordan. I do things.
			p.
				I don't want to sell you an e-book. I don't want you to subscribe to my newsletter and I don't want to
				teach you how to go from zero to 10,000 viewers in 30 days. However, I do want share my ideas for doing
				good work, building interesting things, and generally succeeding in this thing we call life.
			p.
				I am a dad, an entrepreneur, a software engineer, and a wanna be writer. I spend most of my time
				teaching, coding, writing music, and pulling myself through projects I probably had no business trying. In
				fact, I do a whole lot of things and I make a lot of mistakes along the way. This site exists
				to teach you some tricks that will help you get good at doing whatever it is you want to do.
		section
			p
				a(href='about.html') a little more about me »
		section
			p
				a(href='/blog/') the blog »
		section
			p
			p
			p
			p

