body {
  color: #33333d;
  height: 100%;
  font-size: 14px;
  font-weight: 300;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
a {
  color: #33333d;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #33333d;
}
p {
  font-weight: 300;
  line-height: 1.28em;
}
blockquote {
  font-size: 14px;
}
footer {
  color: #888;
}
section {
  min-height: 50%;
  padding: 75px 100px;
}
section:nth-child(2n) {
  background: #fdfdfd;
  box-shadow: inset 0 2px 0 0 #fff;
}
.blog-post {
  padding: 10px;
  max-width: 750px;
}
.blog-post h2 small {
  font-size: 50%;
}
.blog-post blockquote {
  font-size: 14px;
  background: #eee;
}
.blog-date {
  font-size: 14px;
  color: #888;
}
.blog-post h2 {
  padding-top: 0px;
  margin-top: 0px;
}
.cat-tag-label {
  border: none;
}
.brand-fix {
  height: 90px;
  padding: 0px;
}
.logo {
  font: 45px 'Italiana', sans-serif;
  margin: 0px;
}
.navbar-fix {
  background-color: #fff;
  border: none;
}
.dropdown-menu-fix li a {
  font-size: 12px;
  padding: 0px 0px 0px 10px;
}
@media screen and (max-width: 700px) {
  section {
    padding: 25px 25px;
  }
  .logo {
    font-size: 25px;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
  .logo {
    display: none;
  }
}
