a {
  color: #23527c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #23527c;
}
blockquote {
  font-size: 14px;
}
footer {
  color: #888;
}
.blog-post {
  padding: 10px;
}
.blog-post h2 small {
  font-size: 50%;
}
.blog-post blockquote {
  font-size: 14px;
  background: #eee;
}
.blog-date {
  font-size: 14px;
  color: #888;
}
.blog-post h2 {
  padding-top: 0px;
  margin-top: 0px;
}
.cat-tag-label {
  border: none;
}
.brand-fix {
  height: 90px;
  padding: 0px;
}
.navbar-fix {
  background-color: #fff;
  border: none;
}
.dropdown-menu-fix li a {
  font-size: 12px;
  padding: 0px 0px 0px 10px;
}
